#instructorsTableContainer{
  margin-top: 7%;
  width: 68%;
  margin-right: auto;
  margin-left: auto;
}

#instructorsHeader{
  text-align: center;
  font-size: 44px;
  padding: 10px 10px 35px 10px;
}

#instructorsTable td, th{
    text-align: center;
    vertical-align: middle; 
    font-size: 18px;
}

#instructorsTable th{
  padding: 10px;
} 

#instructorPhoto{
  width: 110px;
  margin-left:  auto;
  margin-right: auto;
}

#instructorsLoadingLabel, #instructorsErrorLabel{
    font-size: 32px;
    text-align: center;
    margin-top: 12%;
}