#instructorsTableContainer{
  margin-top: 8%;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

#instructorsHeader{
  text-align: center;
  padding: 5px 10px 25px 10px;
}

#instructorsTable td, th{
    text-align: center;
    vertical-align: middle; 
    font-size: 18px;
}

#instructorsTable th{
  padding: 10px;
} 

#instructorPhoto{
  width: 100px;
  margin: 0 auto;
}

#instructorsLoadingLabel, #instructorsErrorLabel{
    font-size: 32px;
    text-align: center;
    margin-top: 12%;
}