#courseLabel{
  /* font-size: 44px;
  text-align: center;
  margin-top: 20%; */
}

#courseContainer{
  font-size: 32px;
  text-align: center;
  margin-top: 8%;
}

#drivingsHoursProgressBar{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}