#reservationsLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 3%;
}

#reservationsTableContainer{
  margin-top: 8%;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

#bookButton{
  width: 30%;
  height: 60px;
  border-radius: 6px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 12px 12px 12px;
  background-color: #631033;
  margin-left: 35%;
}

#reservationsTable td, th{
    text-align: center;
    vertical-align: middle; 
}

#reservationsTable th{
  padding: 10px;
}

#reservationsLoadingLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

#reservationsErrorLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

#reservationDurationCol{
  width: 12%;
}

#reservationAccepted{
  color:green;
}

#reservationDenied{
  color: rgb(179, 0, 0);
}

#reservationUndefined{
  color: rgb(0, 0, 199);
}