#instructorDrivingsTableContainer{
  margin-top: 7%;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

#instructorDrivingsLabel{
  font-size: 32px;
  text-align: center;
}

#ratingsTable{
  margin-top: 12px;
}

#ratingsTable td, th{
    text-align: center;
    vertical-align: middle; 
}

#ratingsTable th{
  padding: 10px;
}

.ratingsInfoLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

#rangeOfDatesContainer{
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

.date-form{
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block; 
}

#searchDrivingsButton{
  background-color: #631033;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  padding: 8px 12px 8px 12px;
  font-weight: 500;
}

#rateButton{
  width: 100%;
  background-color: #631033;
  color:white;
  font-weight: 600; 
}