#carsTableContainer{
  margin-top: 7%;
  width: 68%;
  margin-right: auto;
  margin-left: auto;
}

#carsHeader{
  text-align: center;
  font-size: 44px;
  padding: 10px 10px 35px 10px;
}

#carsTable th{
  padding:15px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  vertical-align: middle; 
}

#carsTable td{
  text-align: center;
  vertical-align: middle; 
  font-size: 20px;
  font-weight: 600;
}

#carIdCol{
  width: 4%;
}

#carImgCol{
  width: 28%;
}

#carBrandCol,#carModelCol{
  width: 16%;
}

#carLicensePlateCol{
  width: 18%;
}

#carGasTypeCol{
  width: 16%;
}

#carImage{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#carsLoadingLabel, #carsErrorLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}