#carsTableContainer{
  margin-top: 7%;
  width: 68%;
  margin-right: auto;
  margin-left: auto;
}

#headerDiv{
  width: 100%;
  display: inline-flex;
}

#carsHeader{
  text-align: center;
  font-size: 44px;
  padding: 10px 10px 35px 10px;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

#addCarButton{
  background-color: #631033;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 12px 12px 12px;
  width: 16%;
  margin-left: 42%;
}

#carsTable{
  margin-top: 2%;
}

#carsTable th{
  padding:15px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  vertical-align: middle; 
}

#carsTable td{
  text-align: center;
  vertical-align: middle; 
  font-size: 20px;
  font-weight: 600;
}

#carIdCol{
  width: 4%;
}

#carImgCol{
  width: 28%;
}

#carBrandCol,#carModelCol{
  width: 16%;
}

#carLicensePlateCol{
  width: 18%;
}

#carGasTypeCol{
  width: 16%;
}

#carImage{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#carsLoadingLabel, #carsErrorLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

#addCarModal{
 display: inline-flex;
}

#addCarModalBrand{
  width: 50%;
}

#addCarModalPhoto{
  width: 50%;
}

#brandSelectLabel{
  font-size: 14px;
}

.addCarForm{
  margin-left: 5%;
  margin-right: 15%;
  width: 80%;
}

#uploadCarPhotoButton{
  width: 100%;
  background-color: #631033 ;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 15px;
}

.add-car-btn{
  background-color: #631033 ;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  padding: 8px 12px 8px 12px;
}

#uploadCarPhotoButtonContainer{
  
}