#drivingCitiesContainer{
  margin-top: 7%;
  width: 68%;
  margin-right: auto;
  margin-left: auto;
}

#drivingCitiesHeader{
  text-align: center;
  font-size: 44px;
  padding: 10px 10px 35px 10px;
  width: 68%;
  margin-left: auto;
  margin-right: auto;
}

#addCityModal{
  display: inline-flex;
 }
 
 #addCityDataModal{
   width: 50%;
 }
 
 #addCityPhotoModal{
   width: 50%;
 }
 
 .addCityForm{
   margin-left: 5%;
   margin-right: 15%;
   width: 80%;
 }

#addCityButton{
  background-color: #631033;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 12px 12px 12px;
  width: 16%;
  margin-left: 42%;
}

#drivingCitiesTable{
  margin-top: 2%;
}

#drivingCitiesTable td, th{
    text-align: center;
    vertical-align: middle; 
    font-size: 16px;
}

#drivingCitiesTable th{
  padding: 10px;
} 

#drivingCityNamePhoto{
  padding: 10px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

#citiesLoadingLabel, #citiesErrorLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

.add-city-btn{  
  background-color: #631033 ;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  padding: 8px 12px 8px 12px;
}

#uploadCityPhotoButton{
  width: 100%;
  background-color: #631033 ;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 15px;
}

#cityNamePhoto{
  width: 20%;
}