.nav-bar{
  background-color: #631033 ;
  color: white;
}

 #logoBrand{
  height: 50px;
  margin: 11px 48px 9px 0px;
}

.navbar-header{
  margin-left: 10px;
}

.nav-bar-item{
  font-weight: 600;
  margin: 11px 2px 9px 2px;
  border-radius: 6px;
  background-color: white;
}

.nav-bar-btn{
  font-weight: bold;
}

.nav-bar-btn:hover{
  font-weight: 700;
}

.nav-bar-item:hover{
  font-weight: 600;
}

#welcomeMsg, #logoutButton{
  background-color: transparent;
  margin: 11px 2px 9px 2px;
  border-radius: 6px;
  font-weight: 700;
  color:white;
  font-size: 125%;
}

#welcomeMsg:hover, #logoutButton:hover{
  color:rgb(92, 92, 92);
}