.nav-bar{
  background-color: #631033 ;
  color: white;
}

 #logoBrand{
  height: 50px;
  margin: 11px 6px 9px 0px;
}

.navbar-header{
  margin-left: 10px;
}

.nav-bar-item{
  font-weight: 600;
  margin: 11px 2px 9px 2px;
  border-radius: 6px;
  background-color: white;
}

.nav-bar-item:hover{
  font-weight: 600;
}

.nav-bar-btn{
  font-weight: bold;
  border-radius: 6px;
  transition-duration: 0.5s;
  background-color: white;
}