@media all and (min-width: 480px) {
    .loginContainer {
      margin-top: 10%;
      padding: 60px 0;
    }  
  
    .loginContainer form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .form-control:focus{
    border-color: #66233f;
  }

  #registerQuestion{
    font-size:16px;
    text-align: center;
    margin-top: 15px;
  }

  #registerRedirect{
    color:#631033;
    font-weight: 600;
  }

  #login-button{
    background-color: #631033;
    color:white;
    font-weight: 600;
    margin-top: 15px;
  }

  