@media all and (min-width: 480px) {
    .registrationContainer {
      margin-top: 5%;
      padding: 60px 0;
    }

    .registrationContainer form {
      margin: 0 auto;
      max-width: 320px;
    }
  }  
    
  .form-control:focus{
    border-color: #66233f;
  }

  #register-button{
    background-color: #631033;
    color:white;
    font-weight: 600;
  }
  