@media all and (min-width: 480px) {
    .registrationContainer {
      margin-top: 4%;
      padding: 5% 0;
    }

    .registrationContainer form {
      margin: 0 auto;
      max-width: 22%;
    }
  }  
    
  .form-control:focus{
    border-color: #66233f;
  }

  #userRoleSelectList{    
    border-color: #66233f;
  }

  #register-button{
    margin-top: 8%;
    background-color: #631033;
    color:white;
    font-weight: 600;
  }
  