#studentsTableContainer{
  margin-top: 7%;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

#studentsLabel{  
  font-size: 32px;
  text-align: center;
}

#studentsTable{
  margin-top: 18px;
}

#studentsTable td, th{
    text-align: center;
    vertical-align: middle; 
}

#studentsTable th{
  padding: 8px;
}

#currentPaymentCol{
  width: 10%;
}

.studentsInfoLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}

#activateButton{
  width: 100%;
}

#deactivateButton{
  width: 100%;
  color: rgb(175, 0, 0);
}

.modals-button{  
  background-color: #631033 ;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  padding: 8px 12px 8px 12px;
}