#drivingsLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 4%;
}

#drivingsTableContainer{
  margin-top: 3%;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
}

#drivingsTable{
  margin-top: 12px;
}

#drivingsTable td, th{
    text-align: center;
    vertical-align: middle; 
}

#drivingsTable th{
  padding: 10px;
}

#drivingsLoadingLabel, #drivingsErrorLabel{
  font-size: 32px;
  text-align: center;
  margin-top: 12%;
}